.navigatoin {
   margin-left: 382px;
   margin-top: 50px;
}


.book-img {
   width: 338px;
   height: 540px;
   background: url(./../../img/book-img/таємничий\ острів.png);
   filter: drop-shadow(5px 5px 21px #45290E);
   background-size: cover;
   margin-left: 133px;
   margin-top: 171px;
}


.content-b{
   display: flex;
   margin-top: -27px;
}
/* margin-left: 0px;
  margin-top:0px; */


.about-book {
   width: 669px;
   height: 153px;
}
.footer{
   margin-top: 110px;
}
.title-u {
   margin-top: 17px;
   margin-bottom: -10px;
   width: 654px;
   font-family: kelly;
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 30px;
   text-transform: uppercase;

   color: #FFE9C8;
}

.info-project {
   width: 654px;
   height: 194px;


   font-family: 'Times New Roman', Times, serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   /* or 27px */

   text-align: justify;
   letter-spacing: 0.05em;

   color: #FFFFFF;
}

.list {
   margin-top: 63px;

}
.elem{
   width: 34px;
height: 34px;
background-image: url(../../img/site-photo/list.png);
background-size: cover;
margin-top: 72px;
margin-bottom: -32px;
}
.block-info{
   margin-left: 90px;
   margin-top: 169px;
box-sizing: border-box;
width: 667px;
height: 541px;
}
.s{
   margin-left: 42px;
}
.wrap {
   column-count: 2;
   list-style-type: none;
   font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 37px;
margin-left: -40px;
margin-top: 18px;
color: #FFFFFF;
cursor: pointer;
 }
 .wrap li{
   width: 184px;

 }

 .wrap li:hover{

   color: #FFE9C8;
 
   text-shadow:1px 1px 15px rgb(255, 255, 255);
 }


 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 127px; /* Location of the box */
   
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
   position: relative;
   background-color: rgb(59 35 23);
   /* background-image: url(../../img/site-photo/main-bg.png); */
   background-size: cover;
   box-sizing: border-box;
   margin: auto;
   padding: 0;
   
   width: 1306px;
   padding-left: 38px;
   height: 750px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   /* -webkit-animation-name: animatetop; */
   -webkit-animation-duration: 0.4s;
   /* animation-name: animatetop; */
   animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
   from {top:-300px; opacity:0} 
   to {top:0; opacity:1}
}

@keyframes animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
}


.close {
   color: #ffe9c8;;
   float: right;
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   font-weight: normal;
   margin-right: 26px;
}

.close:hover,
.close:focus {
   color: #FFFFFF;
   text-decoration: none;
   cursor: pointer;
}


.text-pers{
   width: 709px;
height: 621px;
overflow-y: auto
;
padding-right: 10px;
padding-top: 10px;
   font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: justify;
letter-spacing: 0.1em;
margin-left: 0px;
  margin-top:0px;
color: #FFFFFF;
}
.info-pers{
display: flex;
margin-left: 0px;
padding-top: 87px;
}
.name{
   font-family: kelly;
font-style: normal;
font-weight: 400;
font-size: 45px;
/* line-height: 55px; */
margin-left: 0px;
  margin-top:0px;
letter-spacing: 0.1em;

color: #FFE9C8;
}
.pers-img{
   width: 408px;
   /* height: 695px; */
   
   background-size: cover;
   background-position: center;

   margin-left: 106px;
   margin-top: -55px;
}
.сyrus{
background-image: url(../../books/Таємничий-острів/characters/Сайрус.png);
}
.gideon{
background-image: url(../../books/Таємничий-острів/characters/Гидеон.png);
}
.nab{
background-image: url(../../books/Таємничий-острів/characters/Наб.png);
}
.pencroft{
background-image: url(../../books/Таємничий-острів/characters/Пенкроф.png);
}
.herbert{
   background-image: url(../../books/Таємничий-острів/characters/Герберт.png);
}
.top{
   /* background-image: url(../../books/Таємничий-острів/characters/Герберт.png); */
}
.yup{
   /* background-image: url(../../books/Таємничий-острів/characters/Герберт.png); */

}
.ayrtron{

}
.nemo{
   
}
.text-pers::-webkit-scrollbar {
   width: 5px;

 }
 
 .text-pers::-webkit-scrollbar-track {
   background: #21130d73;
 }
 
 .text-pers::-webkit-scrollbar-thumb {
   border-radius: 20px;
   border: 3px solid #633825a3;

 }




 #herbertBtn{
   color: red;
 }