.catalog{
   height: 879px;
}

.navigatoin{
   margin-left: 382px;
   margin-top: 31px;
}
.none{
   margin-top: 72px;
   margin-left: 652px;
}
.none-h{
   margin-top: 69px;
   margin-left: 785px;
}
.help-us{
   display: flex;
}
.undefind{
   width: 439px;
height: 394px;

margin-top: 83px;
margin-left: 122px;


}
.team{
   width: 530px;
height: 370px;

margin-top: 80px;
margin-left: 193px;
}
.title-u{
  width: 439px;
height: 37px;
/* word-spacing: -5px; */
margin-top: 1px;
margin-bottom: 39px;
margin-left: 11px;

font-family: kelly;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-transform: uppercase;

color: #FFFFFF;
}
.u{
   width: 530px;
   margin-top: 3px;
   margin-left: 23px;
}
.info-u{
 
width: 409px;
height: 317px;

margin-top: 1px;
margin-left: 16px;
text-indent: 0.5em;
font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: justify;

color: #FFFFFF;
}
.info{
   margin-top: 5px;
    margin-left: 20px;

}
a{
   color: white;
}
.info-2{
   width: 407px;
   height: 95px;
   margin-top: 26px;
    /* word-spacing: -4.73px; */
    /* letter-spacing: 0.5px; */
}
.painter,.analytical{
   margin-left: 20px;
   margin-top: 1px;
   margin-bottom: 1px;
   font-family:kelly;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: justify;
text-transform: uppercase;


margin-right: 251px;

color: #FFE9C8;
}
.analytical{
   margin-left: 20px;
   margin-top: -174px;
   
}

.footer{
   height: 133px;
width: 1440px;
background: #381F0E;

display: flex;
}
.metas{
   margin-left:1px;
   margin-top: 1px;
}
.us-meta{
   font-family: kelly;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   margin-left: 20px;
   margin-top: 18px;
   margin-bottom: -5px;
   color: #F5CF87;
}
p + a{
   margin-left: 63px;
   margin-top: 29px;
}
.meta-t{
   width: 40px;
   height: 40px;
   
}
.money{
   width: 271px;
   height: 86px;
   margin-left: 1000px;
   margin-top: 3px;
   
}
.help{
   width: 171px;
   height: 46px;
   margin-left: 101px;
   margin-top: 22px;
   margin-bottom: -19px;
   
   font-family: kelly;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: right;
   letter-spacing: 0.05em;
   
   color: #F5CF87;
}
.card{
   width: 271px;
   height: 46px;

   
   font-family: kelly;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: right;
   letter-spacing: 0.05em;
   
   color: #845E3B;
}